
.wrapper .banner {
    grid-column: span 1;
    background: #ECB390;
    color: #f7f7f7;
    margin: 1em;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.add {
    margin: 1em;
    display: flex;
    flex-direction: column;
}
.add > img {
    width: 20vw;
    margin: 0 auto;
}
.add > h2 {
    margin: 1em 0 0.5em 0;
}
.add > p {
    line-height: 1.5em;
}
