/* Menu */
.wrapper .menu {
    grid-column: 1/5;
    color: #94B49F;

    display: flex;
    justify-content: space-evenly;
    padding: 1.3em;
}

.items {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5em;
    font-size: 1.2em;
}

.items:hover{
    color: #ECB390;
}

.material-symbols-outlined  {
    font-size: 2.2em;
}