/* Cards */
.wrapper .grid-posts .card-post {
    background: #ECB390;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* images */
#one {
    background-image: url('../img/pancakes_3.jpg');
}
#two {
    background-image: url('../img/pie.jpg');
}
#three {
    background-image: url('../img/youghurt.jpg');
}
#four {
    background-image: url('../img/toast.jpg');
}

.card-post .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card-post .info-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 5% 5% 10%;
    line-height: 1.5;
    color: #f7f7f7;
}

.card-post .info-post > h3{
    line-height: 2em;
}
.card-post .info-post > p {
    padding-top: 3%;
    padding-bottom: 6%;
}