/* Main post */
.wrapper .main-post {
    grid-column: 1/5;
    height: 60vh;

    background-image: url('../img/breakfast.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.info-main-post {
    background: #0000009e;
    color: #f7f7f7;
    width: 100%;
    height: 100%;
    line-height: 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-main-post > h1 {
    line-height: 1.2em;
    font-size: 3em;
}

.info-main-post > p {
    padding-top: 3%;
    padding-bottom: 6%;
}

.info-main-post > a {
    padding: 1% 3%;
    border: 1px solid #f7f7f7;
    text-decoration: none;
    transition: all 0.5s ease;
}
.info-main-post > a:hover {
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    color: #444;
}