/* Home */
.header {
    font-size: 1.5em;
}

.info-main-post > h1 {
    text-align: center;
}

.wrapper .grid-posts .card-post{
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
}


/* Post */
.wrapper .banner {
    flex-direction: column;
}

.wrapper .other-posts {
    grid-template-columns: 1fr;
}
