/* Subscribe */
.wrapper .subscribe {
    grid-column: 1/5;
    margin: 3% auto;
    display: flex;
    padding: 3%;
    flex-direction: column;
    align-items: center;
    line-height: 2.5em;
}

.wrapper .subscribe > input {
    width: 100%;
    height: 3.5em;
    border: none;
    margin: 1em auto;
    text-align: center;
}

.sub-btn {
    width: 100%;
    height: 3.5em;
    background: #ecb390;
    border: 1px solid #ecb390;
    color: white;
    transition: all 0.5s ease;
}
.sub-btn:hover {
    cursor: pointer;
    background: #94B49F;
    border: 1px solid #94B49F;
    color: white;
}
